<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

	<Properties>
		<Property name="patternfull"> %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level%logger{5} - %msg%n </Property>
		<Property name="patternshort"> %d{HH:mm:ss.SSS} [%t] %-5level %logger{1} - %msg%n </Property>
		<Property name="simple">%msg%n</Property>
		
		 <Property name = "filename">${sys:catalina.base}/work/Catalina/localhost/elDoc/log/log.txt</Property>
	</Properties>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${patternshort}" />
		</Console>
		<Console name="ConsoleSimple" target="SYSTEM_OUT">
			<PatternLayout pattern="${simple}" />
		</Console>
		<File name="TxtFile" bufferedIO="true" fileName="logs/text.log">
			<PatternLayout pattern="${patternfull}" />
		</File>
		
		 <File name="WebFile" filename = "${filename}">
         	  <PatternLayout pattern="${patternfull}" />
      </File>
	</Appenders>

	<Loggers>
		<!-- <Logger name="by.training.log4j2hello.User" additivity="true" level="debug">
			<AppenderRef ref="Console" />
			<AppenderRef ref="TxtFile" />
		</Logger> -->

		<!-- <Logger name="by.training.itcompany.main.TeamCreator" additivity="false" level="info">
			<AppenderRef ref="ConsoleSimple" />
		</Logger>
		<Logger name="by.training.itcompany.main.EmployeesRepository" additivity="false" level="info">
			<AppenderRef ref="ConsoleSimple" />
		</Logger> -->


		<!-- Root Logger -->
		<Root level="all">
			<AppenderRef ref="Console" />
			<AppenderRef ref="TxtFile" />
			<AppenderRef ref="WebFile" />
		</Root>
	</Loggers>

</Configuration>