--------------------------------------------- 
# https://github.com/Holenkov/EPAM-Training-Projects
# содержимое файла .gitignore для IDEA 
.metadata/ 
.recommenders/
RemoteSystemsTempFiles/ 
--------------------------------------------- 